<h1>NYC Loops</h1>


<p>Ready to enter the leaderboard for some of NYC's most travelled segments?</p>
<p>Click on the button below to get started</p>


<a class="btn"
   href="http://www.strava.com/oauth/authorize?client_id=563&response_type=code&redirect_uri={{redirect_uri}}&approval_prompt=force&scope=read_all">
Connect
</a>